<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615118856589-7cm8tutnqrtkb7jfm1d1aqiktvev77s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615118856589-7cm8tutnqrtkb7jfm1d1aqiktvev77s2</string>
	<key>API_KEY</key>
	<string>AIzaSyBC-B2HmgQIoWdx56Iv_dniSBcWeXu0D1I</string>
	<key>GCM_SENDER_ID</key>
	<string>615118856589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoClone</string>
	<key>PROJECT_ID</key>
	<string>to-do-clone-a0830</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-clone-a0830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615118856589:ios:93b9c47602c797285a1dc4</string>
</dict>
</plist>